.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  position: relative;
}

.button {
  position: absolute;
  top: 12px;
  right: 18px;
  width: 36px;
  height: 36px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  width: 36px;
  height: 36px;
  pointer-events: none;
  color: #ffffff;
}
